build
.eggs
python_gravity.egg-info
setup.cmd
**/__pycache__
pygravity/*.pyd
pygravity/*/*.pyd
cythonize.cmd
build_exts.cmd
simulation_*.json
simulation_*.png
generate_constructor.py
earth_and_sun_old.py
